.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  height: 140px;
  background-color: #344e41;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  height: 30px;
  background-color: #588157;
}

.menuText {
  width: 20%;
  height: 30px;
  background-color: #dad7cd;
}

.middleMenuText {
  width: 60%;
  height: 30px;
  background-color: #dad7cd;
}

.ribbon {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  height: 30px;
  background-color: #588157;
}

.ribbonText {
  height: 30px;
  background-color: #3a5a40;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  height: 165px;
  background-color: #344e41;
}

.bodyText {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 15px;
  padding: 15px;
  width: 65%;
  background-color: #588157;
  align-items: center;
  align-content: center;
}

.paragraphs {
  height: 30px;
  background-color: #dad7cd;
}

.footNote {
  width: 200%;
  height: 30px;
  background-color: #3a5a40;
}

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 35%;
  background-color: #588157;
}

.sideBarText {
  height: 30px;
  background-color: #dad7cd;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 30px;
  background-color: #344e41;
}

.footerText {
  height: 30px;
  background-color: #dad7cd;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bodyText {
    width: auto;
  }

  .sideBar {
    width: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bodyText {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .paragraphs {
    width: 100%;
  }

  .footNote {
    width: 100%;
  }

  .sideBar {
    width: auto;
  }
}
