.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-image: url(https://raw.githubusercontent.com/tiagrossin/SPRINT1_ANGULAR/main/NIVEL2/images/fixedheader.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.menu {
  display: flex;
  gap: 15px;
  padding: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botton {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: gray;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

a:hover,
a:focus {
  filter: sepia(100%);
  background-color:rgb(117, 58, 19);
}

.socials {
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  width: 100%;
  height: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.slogan {
  background-color: rgba(128, 128, 128, 0.3);
  width: 80%;
  padding: 5%;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgba(255, 140, 0, 0.453);
}

.body {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: auto;
}

.posts {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 15px;
  padding: 15px;
  width: 65%;
  border: 2px solid black;
  align-items: center;
  align-content: center;
}

.postThumnail {
  height: 30px;
  border: 2px solid black;
}

.footNote {
  width: 200%;
  height: 30px;
  border: 2px solid black;
}

.sideBar {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 35%;
  background-color: rgb(128, 128, 128, .3);
  font-family: sans-serif;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  background-color: rgb(128, 128, 128, .3);
}

.footerText {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: smaller;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .posts {
    width: auto;
  }

  .sideBar {
    width: auto;
  }
}

@media (min-width: 150px) and (max-width: 480px) {

  .botton{
    font-size: 0%;
  }

  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .posts {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .paragraphs {
    width: 100%;
  }

  .footNote {
    width: 100%;
  }

  .sideBar {
    width: auto;
  }
}