.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-image: url(https://raw.githubusercontent.com/tiagrossin/SPRINT1_ANGULAR/main/NIVEL2/images/header.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
}

.menu {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 2px solid black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middleMenuText {
  width: 100%;
  height: 30px;
  border: 2px solid black;
}

.ribbon {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: 2px solid black;
}

.ribbonText {
  height: 30px;
  border: 2px solid black;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  height: 165px;
  border: 2px solid black;
}

.bodyText {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 15px;
  padding: 15px;
  width: 65%;
  border: 2px solid black;
  align-items: center;
  align-content: center;
}

.paragraphs {
  height: 30px;
  border: 2px solid black;
}

.footNote {
  width: 200%;
  height: 30px;
  border: 2px solid black;
}

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 35%;
  border: 2px solid black;
}

.sideBarText {
  height: 30px;
  border: 2px solid black;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 30px;
  border: 2px solid black;
}

.footerText {
  height: 30px;
  border: 2px solid black;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bodyText {
    width: auto;
  }

  .sideBar {
    width: auto;
  }
}

@media (min-width: 150px) and (max-width: 480px) {
  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bodyText {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .paragraphs {
    width: 100%;
  }

  .footNote {
    width: 100%;
  }

  .sideBar {
    width: auto;
  }
}
